#checkbox{
 color: white;
 position: absolute;
 left: 100vh;
 bottom:800px;
}

.datePicker{
 width: 240;
 position: absolute;
 left: 90vh;
 top: -10vh;
}

.datePickerInEditForm{
 position: absolute;
 top:300px;
 left: 10%;
}
