.details{
 margin: 30px;
 font-weight: bold;
 text-align: center;
}

.Mui-focused {
 color: white!important
}

#checkbox{
 color: white;
 position: absolute;
 left: 100vh;
 bottom:800px;
}

.datePicker{
 width: 240;
 position: absolute;
 left: 90vh;
 top: -10vh;
}
