#checkbox{
 color: white;
 position: absolute;
 left: 65vh;
 bottom:800px;
}

.datePicker{
 position: absolute;
 top: 40%;
 left: 45%;
}


.datePickerInEditForm{
 position: absolute;
 top:300px;
 left: 10%;
}
.container {
display: flex;
align-items: center;
flex-direction: column;
margin-top: 3rem;
}
.details {
 margin-top: 10px;
}